.dialogBg{background-color:rgba(0,0,0,0.5);position:fixed;top:0px;left:0px;width:100%;height:100%;display:none;}
.dialogBg iframe{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
.dialogBg a{position:absolute;right:10px;top:10px;color:#fff;text-decoration:none;}
[contenteditable] iframe{border:none;vertical-align:middle;}